/* RESET */
*{
    padding:0;
    margin:0;
}
h1{
    color:red;
}
img{
    width:100px;

}
/* HEADER */
header{
    padding: 10px 0px 10px 0px ;
    background-color: #666;
  
}
/* Container */
.container{
 width:1280px;
 margin: auto;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: space-between;
}