header {
  background: #ffcc00;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px;
}
nav ul li {
  display: block;
  background-color: #eee;
  margin: 5px 0;
}
nav ul li a {
  background-color: #666;
  color: #fff;
  margin: 18px 0;
  padding: 10px;
  text-decoration: none;
}
/* vai responder até 760px */
@media (max-width: 760px) {
  header {
    background: #ccff77;
  }

  nav ul{
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
  }
  nav ul li{
    margin: 15px;
  }

  header, nav, main{
    width: 1280px;
    margin:auto;
  }
  .ocultar{
    display:none;
  }
 }
