*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

p{
    font-family: arial,Helvetica,sans-serif;
}
#destaque{
    background-color:rgb(246, 218, 12);
}
.destaque{
    padding:30px;
    background-color:rgb(11, 3, 7);
    color: #fff;
}